<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("treatment").className = "active"
  })
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hva er flytetank behandling?</h3>
  </div>
  <div class="panel-body">
    <p>Litt om behandlingen
      <ul>
        <li>Tanken inneholder vann med epsom salt som er oppvarmet til hudtemperatur.</li>
        <li>Saltet gjør at du flyter i det 30 cm dype vannet og temperaturen gjøre at du ikke klarer å skille mellom hvilke deler av kroppen som er i kontakt med vann eller ikke.</li>
        <li>Behandlingen varer 1 time pluss dusj før og etter</li>
      </ul>
       
    </p>

    <p>Dette er noen av effektene som er rapportert av brukere og forskere
      <p>
        <ul>
          <li>Dyp avslapning, reduserer stress, forbedrer søvnkvalitet og jetlag.</li>
          <li>Reduserer deperasjon og angst, lindrer smerter(leddgikt, fybromyalgi, osv.)</li>
          <li>Øker kreativitet, øker bevissthet og forbedrer restitusjon av musklatur.</li>
        </ul>
    </o>
    </p>
    <p>Karlstad Universitet i Sverige har blant annet gjort nyere forskning på flytetanker.</p>

    <p>Nettsider for mer informasjon:</p>
    <ul>
      <li><a href="http://www.kau.se/psykologi/forskning/klinisk-forskning/flyttanks-forskning" target="_blank">Karlstad Universitet om floating</a></li>
      <li><a href="http://www.i-sopod.com" target="_blank">I-Sopod</a></li>
    </ul>
    <a class="article-link" target="_blank" href="http://gbnett.no/index.php?page=vis_nyhet&NyhetID=6805"><span style="margin-left: 28%; font-family: Arvo; font: 200% Cookie;">Her får Monica flyt i hverdagen</span>
    <div style="width: 100%;" class="article"></div></a>
    <p>Artikkel fra Gjesdalbuen avvis</p>
  </div>
</div>
<br>
<br>