<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("company").className = "active"
  })
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bedriftsavtaler</h3>
  </div>
  <div class="panel-body">
    Flytetankbehandlingen tilbyr et helhetlig konsept som vil gjøre deg og dine medarbeider avslappet og frisk, <br>
    gladere, kreativ og mer uthvilt både fysisk og mentalt.<br>
    Dette vil føre til et bedre miljø og økt gevinst for den enkelte

  </div>
</div>
<br>
<br>