<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("maps").className = "active"
  })
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Du finner oss i Ole Nielsensvei 13, 4330 Ålgård. Samme bygg som Norwegian Outlet. Ved inngang øst i andre etg.</h3>
  </div>
  <div class="panel-body">
    <a target="_blank" href="https://www.google.no/maps/place/Ole+Nielsens+vei+13,+4330+%C3%85lg%C3%A5rd/@58.7678313,5.847422,17z/data=!3m1!4b1!4m5!3m4!1s0x463a3a60d9978725:0x27454c7e139a9ace!8m2!3d58.7678313!4d5.8496107"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Ole Nielsensvei 13, 4330 Ålgård&zoom=14&size=300x300&markers=Ole Nielsensvei 13, 4330 Ålgård&sensor=true" style="width: 743px;">
    </a>
  </div>
</div>
