
<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("main").className = "active"
  })
</script><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Velkommen til flytetankbehandling</h3>
  </div>
  <div class="panel-body">
    <p>Hva er en flytetankbehandling:

<p>Tanken inneholder vann med 500 kg epsom salt, som er oppvarmet til hudtemperatur (35,5 grader C).</p>

<p>Du ligger på ryggen og flyter i vektløs tilstand i det 30 cm dype vannet. 
<p>Noen ønsker å ha behagelig musikk og UV lys på under behandlingen, mens andre slukker lyset i tanken slik at du kommer inn i den dypeste avslappningstilstand som er mulig.</p> 
<p>Timen varer totalt 1.5 timer med flyt og dusj før og etterpå.</p> 
<p>Flyting også kalt Floating er et unikt og annerkjent behandlings tilbud.</p>
<p>Karlstad universitetsykehus i Sverige har blant annet gjort nyere forskning på flytetanker.</p>
  </div>
</div>