<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("price").className = "active"
  })
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Priser</h3>
  </div>
  <div class="panel-body">
    1 stk flyt<span class="pull-right">490,-</span>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Klippekort</h3>
  </div>
  <div class="panel-body">
    3 stk flyt<span class="pull-right">1290,-</span>
  </div>
  <div class="panel-body">
    5 stk flyt<span class="pull-right">2000,-</span>
  </div>
  <div class="panel-body">
    10 stk flyt<span class="pull-right">3700,-</span>
  </div>
</div>