<script type="text/javascript">
  $(document).ready(function(){
    // $(".active")[0].className = ""
    document.getElementById("gift").className = "active"
  })
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gavekort</h3>
  </div>
  <div class="panel-body">
    Gaven til den som har alt, og fortjener det beste. <br>
    Gavekortet kan kjøpes på salongen eller bestilles via mail og sendes til deg eller direkte til mottaker. <br>
    Ta kontakt på skjemaet nedenfor for å bestille
  </div>
</div>